.section{
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-heading{
  color: black;
  font-size: 26px;
}
.underline{
  height: 3px;
  width: 10rem;
  background-color: lightskyblue;
  margin-top: 1px;
  margin-bottom: 1px;
}
.bg-c-light{
  background-color: whitesmoke;
}